body {
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: mrgirl.gg/BLACKFACE (first discovered by Summer);
}

body::-webkit-scrollbar {
  width: .25rem;
}

body::-webkit-scrollbar-track {
  background: #252626;
}

body::-webkit-scrollbar-thumb {
  background: #3e3e54;
}


.OOOO {
  display: inline-block;
  width: 90vw;
  height: 98vh;
  margin: auto;
}
